
header {
  padding: 1rem 0;
}

.food-group {

  margin-bottom: 1rem;

  a.card-header {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 0;
    span {
      padding-left: 10px;
    }

    &:hover {
      color: #fff;
      background-color: #198754;
    }
  }

  .list-group-selected {
    margin-bottom: 1rem;
  }
}
